language: node_js
node_js:
 - "10"
os:
 - linux

cache: yarn

stages:
 - test
 - name: deploy
   if: tag =~ ^v

jobs:
  include:
    - stage: test
    - stage: deploy
      script: yarn run build
      deploy:
        edge: true
        provider: npm
        email: summer88123@163.com
        api_key: "$NPM_TOKEN"
        skip_cleanup: true
        on:
          tags: true
